.stairs-loader {
  position: relative;
  width: 195px;
  height: 150px;

  .stair {
    position: absolute;
    width: 25px;
    border-radius: 2px;
    bottom: 0;
    will-change: transform;
    transition: height 0.2s ease-in-out;
  }

  .ball {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    will-change: transform;
    animation: jumpStairs 4s infinite ease-in-out;
  }
}

.particle {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 0; /* Ini akan diubah oleh GSAP */
}

.message-container {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;

  .message {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #e0eeee;
  }
}
