.banner {
  @apply w-full relative flex flex-col items-center justify-center;
  min-height: 100vh;

  &-title {
    @apply text-8xl text-center font-extrabold opacity-0 text-teal-300;
    transform: translateY(-50px);
  }

  &-subtitle {
    @apply text-3xl text-center font-light mt-4 opacity-0 text-gray-400;
    transform: translateY(50px);
  }

  &-scroll-toggle {
    @apply absolute bottom-8;

    .icon {
      @apply w-10 h-auto cursor-pointer;

      * {
        fill: var(--foreground-hex);
      }
    }
  }
}
