name: Test Coverage
on:
  pull_request:
    branches:
      - main
jobs:
  coverage-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Run test coverage
        run: pnpm run test:coverage

      - name: Generate coverage reports
        run: |
          pnpm run generate-coverage
          ls -l

      - name: Upload coverage reports artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ vars.COVERAGE_NAME }}
          path: ${{ vars.COVERAGE_PATH }}