name: Upload Coverage
on:
  workflow_run:
    workflows: ["Test Coverage"]
    types: [requested]
    branches:
      - main
  push:
    branches:
      - main
jobs:
  upload-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download coverage reports artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          name: ${{ vars.COVERAGE_NAME }}
          path: ${{ vars.COVERAGE_PATH }}
          workflow: test-coverage.yaml
          run_id: ${{ github.event.workflow_run.id }}
          search_artifacts: true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        env:
          slug: itsferdiardiansa/Oxcyn
        with:
          files: ${{ vars.COVERAGE_FILE_JSON }}
          token: ${{ secrets.CODECOV_TOKEN }}
